.project__container {
  padding: 2rem;

  .project__content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    padding-bottom: 5rem;
  }

  .project__heading {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  .project__card {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 10px;
    border: 1px solid yellow;

    cursor: pointer;

    img {
      width: 350px;
      height: 250px;
      border-radius: 10px;
      object-fit: contain;
      object-position: center;
    }
  }

  .project__card:hover {
    box-shadow: none;
  }
}
