.project__container {
  /* border: 1px solid red; */
  padding: 2rem;

  .project__content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    padding-bottom: 5rem;
  }

  .project__header {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media screen and (min-width: 786px) {
  .project__container {
    flex-direction: row;
  }
}