.project__container {
  /* border: 1px solid red; */
  padding: 2rem;
  flex-direction: row;
  padding-bottom: 5rem;
  border-bottom: 2px solid var(--gray);

  .project__content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    gap: 1rem;
    justify-content: center;
    height: 100%;
  }

  .project__header {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 786px) {
  .project__container {
    flex-direction: column;
  }
}