.small-proj__container {
  /* border: 1px solid red; */
  background-color: var(--gray);
  padding: 2rem;

  .sp__header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .sp__content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    gap: 3rem;
    justify-content: center;
    height: 100%;
    padding-bottom: 5rem;

    .sp-card {
      cursor: pointer;

      &:hover img {
        filter: contrast(0.5);
      }

      img {
        background-color: var(--gray);
        width: 250px;
        height: 150px;
        outline: 3px solid var(--blue);
        outline-offset: 8px;
        box-shadow: var(--box-shadow);
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;
        transition: all 0.2s ease-in;
      }

      p {
        color: var(--blue);
        text-align: center;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }
      }
    }
  }
}

/* @media screen and (max-width: 750px) {
} */
