.hero__container {
  /* height: 75vh; */
  /* height: calc(100vh - (85px * 2)); */
  height: calc(90vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid var(--gray);
  /* border: 1px solid red; */

  .hero-avatar {
    border: 1px solid green;
    width: 250px;
    height: auto;
    margin: 0 2rem 0 0;

  }

  .hero__title {
    padding: 5px;
    font-size: 4rem;
    font-weight: 900;
    margin: 2rem 0 1rem 2rem;
    top: 50px;
    /* top: calc(50% - 140px); */
    /* z-index: 1; */

    overflow: hidden;
    white-space: nowrap;
    animation: typing 8000ms steps(14) forwards;
    border: 1px solid salmon;

    &::before {
      content: "|";
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      font-size: 4rem;
      background: var(--blue);
      animation: blinkCursor 1500ms steps(1) infinite;
    }
  }

  .hero-sub{
    top: 50px;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2000ms ease 2400ms forwards;
  }
}

@keyframes blinkCursor {
  0%,
  75% {
    opacity: 1;
  }
  76%,
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  25%,
  50%,
  75%,
  100% {
    width: 410px;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-avatar {
      width: 150px;
      margin: 1rem 0 1rem 2rem;
      position: absolute;
      transform: translateY(-50%);
    }

    .hero__title,
    .hero__title::before {
      font-size: 2.5rem;
    }

    .hero__title,
    .hero-sub {
      position: relative;
    }

    .hero__title {
      margin: 2rem 0 1rem;
    }

    .hero-sub {
      margin-left: 1rem;
    }

    @keyframes typing {
      0% {
        width: 0;
      }
      25%,
      50%,
      75%,
      100% {
        width: 360px;
      }
    }
  }
}
