.hero__container {
  /* height: 100vh; */
  /* height: calc(100vh - (85px * 2)); */
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid var(--gray);
  /* border: 1px solid red; */

  /* background: linear-gradient(to right top, #70eedf, #e78828);
  background-attachment: fixed;  */

  .hero-avatar {
    /* border: 1px solid green; */
    width: 250px;
    height: auto;
    margin-bottom: 1rem;
    position: absolute;
    /* top: calc(50% - 140px); */
    transform: translateY(-50%);
  }

  .hero__title {
    padding: 5px;
    font-size: 4rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    top: 50px;
    /* top: calc(50% - 140px); */
    /* z-index: 1; */

    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 8000ms steps(14) forwards;
    /* border: 1px solid salmon; */

    &::before {
      content: "|";
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      font-size: 4rem;
      background: var(--blue);
      animation: blinkCursor 1500ms steps(1) infinite;
    }
  }

  .hero-sub{
    position: relative;
    top: 50px;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2000ms ease 2400ms forwards;
  }

  /* .hero-btn {

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    a {
      border: 2px solid var(--blue);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 5px;
      color: var(--blue);
      box-shadow: var(--box-shadow);
      font-size: 1.7rem;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in;

      &:hover {
        box-shadow: none;
      }
    }
  } */
}

@keyframes blinkCursor {
  0%,
  75% {
    opacity: 1;
  }
  76%,
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  25%,
  50%,
  75%,
  100% {
    width: 410px;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .hero__container {
    .hero-avatar {
      width: 150px;
      margin-top: 4rem;
    }

    .hero__title,
    .hero__title::before {
      font-size: 2.5rem;
    }

    @keyframes typing {
      0% {
        width: 0;
      }
      25%,
      50%,
      75%,
      100% {
        width: 360px;
      }
    }
  }
}
