.skills__container {
  background: var(--gray);
  padding: 2rem;

  .skills__header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .skills__content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    /* gap: 1rem; */
    /* border: 1px solid salmon; */
    width: 2rem;
    margin: auto;
    height: 100%;
  }
}

@media screen and (min-width: 786px) {
  .skills__container {
    flex-direction: row;

    .skills__text {
      width: 50%;
      margin: auto;
    }
  }
}