.icon__container{
  /* border: 1px solid green; */
  width: 100px;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  
  .icon__card {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      background-color: var(--white);
      /* border: 1px solid red; */
      width: 60px;
      height: 60px;
      margin-bottom: 7px;
      object-fit: contain;
      object-position: center;
    }

    p {
      text-align: center;
      text-transform: uppercase;
      /* border: 1px solid salmon; */
    }
  }
}
