.skills__icon {
  
  .card-logo {
    /* border: 1px solid blue; */
    padding: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      background-color: var(--white);
      /* border: 1px solid green; */
      /* border-radius: 5px; */
      width: 60px;
      height: 60px;
      margin-bottom: 7px;
      object-fit: contain;
      object-position: center;
    }

    p {
      text-align: center;
      text-transform: uppercase;
      /* border: 1px solid salmon; */
    }
  }
}
