.navbar__container {
  background: var(--shade1);
  /* background: var(--rich-black); */
  /* box-shadow: var(--box-shadow); */
  position: sticky;
  padding: 10px;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .logo img {
    width: 70px;
    margin-bottom: 8px;
    margin-left: 15px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
  }

  .navbar__menu {
    display: flex;

    a {
      border: 1px solid transparent;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--white);
      padding: 10px;
      transition: transform 400ms ease-in-out;
    }

    a:hover {
      outline: 1px solid #ffffff1a;
      transform: translateY(-10px);
      border-radius: 5px;
      box-shadow: var(--box-shadow);
      padding: 10px;
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar__container {
    .navbar__menu a {
      font-size: 1rem;
    }
  }
}
