:root {
  font-family: "Roboto", sans-serif;
  color: var(--blue);

  /* VARIABLES */
  --white: #ffffff;
  --black: #222529;
  --gray: #f2f2f2;
  --blue: #112a46;
  --blue-green: #004457;

  --shade1: #32677b;
  --shade2: #598ca2;
  --shade3: #81b4ca;
  --shade4: #344a53;

  --box-shadow: 0 3px 5px #000000c0;
}

/* RESETS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.scroll {
  scroll-margin-top: 100px;
}

/* SELECTION */
::selection {
  background-color: var(--shade2);
  color: var(--white);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--shade4);
  border: 3px solid var(--shade2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--shade1);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--shade2);
}
