@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color:#2F2F2F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* RESETS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.scroll {
  scroll-margin-top: 100px;
}

/* SELECTION */
::selection {
  background-color: #32677b;
  color: #fff;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #222222;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: #90E4E1;
}

/* HANDLE on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFDE59;
}

/* 
  --shade1: #32677b; /*navbar*/
  /* --shade2: #344a53; */
  /* --shade3: #002a3d; */
  /* --shade4: #00648f; */
