:root {
  font-family: "Roboto", sans-serif;
  color: var(--blue);
  background-color: var(--gray);

  /* VARIABLES */
  --white: #ffffff;
  --black: #222529;
  --gray: #f2f2f2;
  --gray2: #fafafa;
  --blue: #112a46;
  
  --shade1: #32677b; /*navbar*/
  --shade2: #344a53;
  --shade3: #002a3d;
  --shade4: #00648f;
  
  /* --shade22: #598ca2;
  --shade23: #81b4ca;
  --shade10: #004daa;
  --shade13: #001e2b;
  --blue-green: #004457;
   */
  /* 
   color: #002a3d*/

  --rich-black: #0C161C;

  --box-shadow: 0 3px 5px #000000c0;
}

/* RESETS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.scroll {
  scroll-margin-top: 100px;
}

/* SELECTION */
::selection {
  background-color: var(--shade1);
  color: var(--white);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--shade3);
  /* border: 3px solid var(--shade10); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--rich-black); */
  background: var(--shade2);
  /* border-radius: 6px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--shade4);
}
